﻿.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaderRotator{
    position:fixed;
    z-index:9999;/* make higher than whatever is on the page */
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    margin:auto;
    padding:20%;
    opacity: 0.4;
    width:100%;
    height:100%;
}