﻿
@{
    ViewBag.Title = "Search Results for Brand Name";
}

@section MyStyles{
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/Content/AutoComplete/bootcomplete.css" />

    <style>
        .center th{
            text-align:center;
            font-family:Arial !important;
        }
    </style>
}

<div class="row">
    <div class="col-sm-2 hidden-xs">
        <img src="~/Content/Images/logo.png" class="img-responsive"/>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-11 col-md-10">
                <div >
                    <div class="form-group">
                        <input class="form-control input-lg" id="inputString"
                               placeholder="Enter Brand Name to Search" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-2 text-center">
                <button type="submit" id="btnBrand" class="btn btn-lg btn-success">
                    <i class="glyphicon glyphicon-search"></i> Search Brand
                </button>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-sm-11 col-md-10">
                <button id="filterBtn" class="btn-link">Filter Results</button>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-push-1">
        <hr/>
    </div>
</div>


<div class="row label-primary" id="filterDiv" style="color:#fff;display:none;">
    <div class="col-xs-12"><br /></div>
    <div class="col-xs-12 ">
        <div class="col-sm-2 text-center">
            <p><br /></p>
            <h4>Filter Results</h4>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="priceRangeMin">Min Price Per Unit</label>
            <input class="form-control" id="priceRangeMin"
                   placeholder="Enter minimum price" type="text">
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="priceRangeMax">Max Price Per Unit</label>
            <input class="form-control" id="priceRangeMax"
                   placeholder="Enter maximum price" type="text">
        </div>
        <div class="col-sm-3">
            <label class="control-label" for="type">Drug Form</label>
            <input class="form-control" id="type"
                   placeholder="Enter Type to Filter" type="text">

        </div>
        <div class="col-xs-12"><br /></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <section class="section">
            <h2><strong  style="font-family:Calibri">Search Results</strong></h2>
        </section>
    </div>

    
    <div class="row">
        <div class="col-xs-10 col-xs-push-1">
            <hr class="text-info" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table id="resultsTable" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                <thead class="bg-primary">
                    <tr class="center">
                        <th>
                            Brand Name
                        </th>
                        <th>
                            Manufacturer
                        </th>
                        <th>
                            Drug Form
                        </th>
                        <th>
                            Salt
                        </th>
                        <th>
                            Pack Size
                        </th>
                        <th>
                            Salt Amount
                        </th>
                        <th>
                            Price Per Unit
                        </th>
                        <th>
                            Trade Price
                        </th>
                        <th>
                            Amount Required
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    

</div>
@section MyScripts{

    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js">

    </script>
    <script type="text/javascript" src="~/Content/AutoComplete/jquery.bootcomplete.js"></script>

    <script type="text/javascript" src="~/Scripts/FiltersShowHide.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#inputString").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnBrand").click();
                }
            });
        });
    </script>

    <script type="text/javascript">
        @*add some new searching functionality to datatable*@
        $.fn.dataTable.ext.search.push(
            function (settings,data,dataindex) {

                var min = parseFloat($('#priceRangeMin').val());
                var max = parseFloat($('#priceRangeMax').val());
                var age = parseFloat(data[7]) || 0;

                if( ( isNaN( min ) && isNaN( max ) ) ||( isNaN( min ) && age <= max ) ||
                    ( min <= age   && isNaN( max ) ) || (min <= age && age <= max)) {
                    return true;
                }

                return false;

            });

        $.fn.dataTable.ext.errMode = 'none';
        $('#resultsTable').on('error.dt', function (e, settings, techNote, message) {
            MessageModalPopUp("Search Error", "No Results to Display");
            $("#loader").hide();
        });

    </script>

    <script>
        $(document).ready(function () {
            @*init dataTable*@
            var table=$("#resultsTable").DataTable({
                ajax: {
                    url: "/MedicineSearchResults/GetAlternatesForBrand?BrandName=@ViewBag.BrandName",
                    dataSrc: ""
                },
                columns: [
                    { data: "medicine.BrandName" },
                    { data: "medicine.Manufacturer" },
                    { data: "medicine.DrugForm" },
                    { data: "medicine.Salt" },
                    { data: "medicine.PackSize" },
                    { data: "medicine.SaltAmount" },
                    { data: "medicine.PricePerUnit" },
                    { data: "medicine.TradePrice" },
                    { data: "RequiredAmount" },
                    { data: "medicine.MedicineId" }//added extara column
                ],
                "createdRow": function (row, data, dataIndex) {
                    if (data["RequiredAmount"] == -1) {
                        var a = $(row).find("td")[8];
                        a.innerText="NILL";
                    }
                },
                "initComplete": function () {
                    $("#loader").hide();
                },
                columnDefs: [{
                    targets: -1,
                    render: function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a href="/MedicineDetails/Details?medid=' + data + '">' + "Click For Details" + '</a>';
                        }

                        return data;
                    }
                }]

            });
            $("#loader").show();

            
            $("#type").on('keyup change', function () {
                if ( table.columns(2).search() !== this.value ) {
                    table.columns(2).search(this.value).draw();
                }
            } );

            $("#priceRangeMin,#priceRangeMax").keyup(function () {
                table.draw();
            });

        });
    </script>

    <script type="text/javascript">
            $(document).ready(function () {



                $("#inputString").bootcomplete({
                    url: "/MedicineSearchResults/GetRecommendationsForBrand",
                    formParams: {
                        prefix: $("#inputString")
                    },
                    method: "post",
                    tagEnabled:false
                });
            });
    </script>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#filterBtn").click(HideShow);


                $("#btnBrand").click(function () {
                    var brand = $("#inputString").val();

                    if (brand.length == 0) {
                        MessageModalPopUp("Search Error", "Please enter a name to search");
                        return;
                    }

                    window.location.href = "/MedicineSearch/BrandSearchResult?brandName=" + brand;
                });

            });
    </script>

}


