﻿
@{
    ViewBag.Title = "Search for Brand";
}

@section MyStyles{
    <link rel="stylesheet" href="~/Content/AutoComplete/bootcomplete.css" />
}

<div class="row">
    <div class="col-md-12 hidden-xs"><p><br /><br /><br /><br /><br /></p></div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block" src="~/Content/Images/logo.png" />
            </div>
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div >
                    <div class="form-group">
                        <input class="form-control input-lg" id="inputString"
                               placeholder="Enter Brand Name" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button type="submit" id="btnBrand" class="btn btn-lg btn-primary btn-block">
                    <i class="glyphicon glyphicon-search"></i> Search Brand
                </button>
            </div>
            <div class="col-xs-12 col-sm-2"><br /></div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 hidden-xs"><p><br /><br /><br /><br /><br /></p></div>
</div>

@section MyScripts{
    <script type="text/javascript" src="~/Content/AutoComplete/jquery.bootcomplete.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#inputString").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnBrand").click();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            

            $("#inputString").bootcomplete({
                url: '@Url.Content("~/MedicineSearchResults/GetRecommendationsForBrand")',
                formParams: {
                    prefix: $("#inputString")
                },
                method: "post",
                tagEnabled:false
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            

            $("#btnBrand").click(function () {
                var brand = $("#inputString").val();

                if (brand.length == 0) {
                    MessageModalPopUp("Search Error","Please enter a brand name to search.");
                }

                window.location.href = "/MedicineSearch/BrandSearchResult?brandName=" + brand;
            });

        });
    </script>
}