﻿
@{
    ViewBag.Title = "Search for Medicines";
}

@section MyStyles{
    <link rel="stylesheet" href="~/Content/AutoComplete/bootcomplete.css"/>
    <style>
        .outerContainer {
            background-image: url("/Content/Images/hjkauiT.jpeg");
        }
    </style>

}

<div class="row outerContainer">
    <div class="col-md-12 hidden-xs"><p><br/><br/><br/><br/><br/></p></div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block" src="~/Content/Images/logo.png"/>
            </div>
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="form-group">
                        <input class="form-control input-lg" id="inputString"
                               placeholder="Enter Salt or Brand Name" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4"><br /></div>
            <div class="col-sm-4 text-center">
                <button type="submit" id="btnBrand" class="btn btn-lg btn-primary btn-block">
                    <i class="glyphicon glyphicon-search"></i> Search Brand
                </button>
            </div>
            <div class="col-xs-12 visible-xs">
                <p></p>
            </div>
            <div class="col-sm-4 text-center">
                <button type="submit" id="btnSalt" class="btn btn-lg btn-success btn-block">
                    Search Salt  <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
            <div class="col-xs-12 visible-xs">
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-12"><p><br /><br /></p></div>
    <div class="col-md-12 hidden-xs"><p><br /><br /><br /><br /><br /></p></div>
   
</div>


@section MyScripts{
    <script type="text/javascript" src="~/Content/AutoComplete/jquery.bootcomplete.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#inputString").bootcomplete({
                url: "/MedicineSearchResults/GetRecommendationsForBrand",
                formParams: {
                    prefix: $("#inputString")
                },
                method: "post",
                tagEnabled:false
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSalt").click(function () {
                var salt=$("#inputString").val();

                if (salt.length == 0) {
                    MessageModalPopUp("Search Error", "Please enter a salt name to search.");
                    return;
                }

                window.location.href = "/MedicineSearch/SaltSearchResult?salt=" + salt;
            });

            $("#btnBrand").click(function () {
                var brand = $("#inputString").val();

                if (brand.length == 0) {
                    MessageModalPopUp("Search Error","Please enter a brand name to search.");
                    return;
                }

                window.location.href = "/MedicineSearch/BrandSearchResult?brandName=" + brand;
            });

        });
    </script>
}