﻿
@{
    ViewBag.Title = "Salt Searcher";
}

@section MyStyles{
    <link rel="stylesheet" href="~/Content/AutoComplete/bootcomplete.css" />
}

<div class="row">
    <div class="col-md-12 hidden-xs"><p><br /><br /><br /><br /><br /></p></div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block" src="~/Content/Images/logo.png" />
            </div>
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12" id="tags"></div>
            <hr />
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div >
                    <div class="form-group">
                        <input class="form-control input-lg" id="inputString"
                               placeholder="Enter Salt Name" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xs-12 col-sm-2"><br /></div>
            <div class="col-xs-12 text-center">
                <button type="submit" id="btnSalt" class="btn btn-lg btn-success btn-block">
                    Search Salt  <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
            <div class="col-xs-12 col-sm-2"><br /></div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 hidden-xs"><p><br /><br /><br /><br /><br /></p></div>
</div>

@section MyScripts{
    <script type="text/javascript" src="~/Content/AutoComplete/jquery.bootcomplete.js"></script>

    

    <script type="text/javascript">
        $(document).ready(function () {

            $("#inputString").bootcomplete({
                url: "/MedicineSearchResults/GetRecommendationsForSalt",
                formParams: {
                    prefix: $("#inputString")
                },
                method: "post",
                tagEnabled:true
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSalt").click(function () {
                var inputSalt = $("#inputString").val();
                if (inputSalt != null || inputSalt != "") {

                    $("#tags").append("<label class='alert alert-success' style='margin-left:2px'><a href='#' class='btn-link left' data-dismiss='alert' aria-label='close'>&times;</a><strong class='saltsValues'>" + inputSalt + "</strong></label>");

                    $("#inputString").val("");
                }

                var strSearch = "";

                $(".saltsValues").each(function(){
                    strSearch+=$(this).text()+",";
                });

                //remove trailing ','
                strSearch[strSearch.lastIndexOf(',')]="";

                if (strSearch.length == 0 || strSearch=="") {
                    MessageModalPopUp("Search Error", "Please enter a salt name to search");
                }

                window.location.href = "/MedicineSearch/SaltSearchResult?salt=" + strSearch;
            });

            

        });
    </script>
}