﻿<div class="modal fade pg-show-modal" id="addModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModalBtn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Stock Item</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-group-addon">Medicine Id</span>
                            <p class="form-control-static" id="medId"></p>

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-group-addon">Retail Price</span>
                            <input type="number" class="form-control" placeholder="Enter Retail Price" id="retailPrice">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeModalBtn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
