﻿
<div class="modal fade pg-show-modal" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header label-primary">
                <h3 class="modal-title textWhite" id="modalTitle"></h3>
            </div>
            <div class="modal-body ">
                <p id="modalBody"></p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="msgModalClose">Close</button>
            </div>
        </div>
    </div>
</div>