﻿<div class="modal fade pg-show-modal" id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModalBtn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-group-addon">Existing Password</span>
                            <input type="password" class="form-control" placeholder="Enter Current Password" id="curPass">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-group-addon">New Password</span>
                            <input type="password" class="form-control" placeholder="Enter New Password" id="newPass">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-group-addon">Confirm Password</span>
                            <input type="password" class="form-control" placeholder="Confirm Password" id="confPass">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="closeModalPass" class="btn btn-default closeModalBtn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updatePasswordBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
