﻿<div class="modal fade pg-show-modal" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModalBtn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Medicine Product</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-group-addon">Brand Name</span>
                            <input type="text" class="form-control" placeholder="Enter Brand Name" id="brandName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-group-addon">Trade Price</span>
                            <input type="number" class="form-control" placeholder="Enter Trade Price" id="tradePrice">
                        </div>
                    </div>
                </div>
                                
                <div class="form-group">
                    <span class="input-group-addon">Drug Form</span>
                    <select class="form-control" id="drugForm"></select>
                </div>

                @*Packaging Part*@
                <div class="form-group">
                    <span class="input-group-addon">Enter Pack Size</span>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <input type="number" class="form-control pack" placeholder="Enter Amount" id="pack1">
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <input type="number" class="form-control pack" placeholder="Enter Amount" id="pack2">
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <input type="number" class="form-control pack" placeholder="Enter Amount" id="pack3">
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <input type="number" class="form-control pack" placeholder="Enter Amount" id="pack4">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="input-group-addon">Pack Size</span>
                            <label class="control-label" id="packSize"></label>

                        </div>
                        <div class="col-sm-6">
                            <span class="input-group-addon">Total Units Per Pack</span>
                            <label class="control-label" id="totalUnitsPerPack"></label>
                        </div>
                    </div>
                    
                </div>

                @*Salts Part*@
                <div id="saltContainer">

                </div>
                @*Button to Add New Salt*@
                <div class="text-center">
                    <button class="addfields btn btn-warning" id="addSaltFieldBtn">Add Salt fields</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeModalBtn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

