﻿<div class="modal fade pg-show-modal" id="picModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Images</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="imgContainerModal">
                    <div class="col-xs-8 col-sm-3">
                        <a href="" class="thumbnail">
                            <img src='@Url.Content("~/Content/MedicineImages/default.png")' class="img-responsive" alt="" id="imgPreview">
                        </a>
                    </div>
                    <div class="col-xs-8  col-sm-5">
                        <input id="imgToUpload" type="file"  accept="image/*" >
                        <span class='label label-info' id="upload-file-info">Select Image to Add</span>
                        
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addImageBtn" disabled data->Add Image</button>
                <button type="button" id="imgAddModalCloseBtn" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


