﻿
@{
    ViewBag.Title = "Pharmacy Stock";
}

@section MyStyles{
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/Content/AutoComplete/bootcomplete.css" />

    <style>
        .center th {
            text-align: center;
            font-family: Arial !important;
        }
    </style>
}


<div class="container">
    <div class="row">
        <section class="section">
            <h2><strong style="font-family:Calibri">@ViewData["pharmacy"]</strong></h2>
        </section>
    </div>


    <div class="row">
        <div class="col-xs-10 col-xs-push-1">
            <hr class="text-info" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table id="resultsTable" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                <thead class="bg-primary">
                    <tr class="center">
                        <th>Item Id</th>
                        <th>Medicine Id</th>
                        <th>Brand Name</th>
                        <th>Manufacturer</th>
                        <th>Drug Form</th>
                        <th>Pack Size</th>
                        <th>Trade Price</th>
                        <th>Salt</th>
                        <th>Salt Amount</th>
                        <th>Retail Price</th>
                        <th>Available</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section MyScripts{

    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js">

    </script>

    <script type="text/javascript">
        $.fn.dataTable.ext.errMode = 'none';
        $('#resultsTable').on('error.dt', function (e, settings, techNote, message) {
            MessageModalPopUp("Search Error", "No Results to Display");
            $("#loader").hide();
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            @*init dataTable*@
            var table = $("#resultsTable").DataTable({
                ajax: {
                    url: "/StockRead/GetStock",
                    type: "POST",
                    "data": { "pharmacy": '@ViewData["pharmacy"]' },
                    dataSrc: ""
                },
                columns: [
                    { data: "ItemId" },
                    { data: "Medicine.MedicineId" },
                    { data: "Medicine.BrandName" },
                    { data: "Medicine.Manufacturer" },
                    { data: "Medicine.DrugForm" },
                    { data: "Medicine.PackSize" },
                    { data: "Medicine.TradePrice" },
                    { data: "Medicine.Salt" },
                    { data: "Medicine.SaltAmount" },
                    { data: "RetailPrice" },
                    { data: "Availability" }
                ],
                "initComplete": function () {
                    $("#loader").hide();
                }
            });
            $("#loader").show();
        });
    </script>
}

