﻿@using Models.Roles;
@{
    ViewBag.Title = "Pharmacy Home";
}

@{ 
    Pharmacy pharmacy = (Pharmacy)ViewData["Pharmacy"];
}

@section MyStyles{
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />

}

@*Render Update Modal*@
@{
    Html.RenderPartial("_UpdateStockModal");
}

<div class="container">
    <div class="row">

        <div class="col-xs-12 panel">
            <div class="h3">
                <p>@pharmacy.PharmacyName</p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
        </div>
        <br/>
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%" id="resultsTable">
                <thead>
                    <tr>
                        <th>Item Id</th>
                        <th>Medicine Id</th>
                        <th>Brand Name</th>
                        <th>Manufacturer</th>
                        <th>Drug Form</th>
                        <th>Pack Size</th>
                        <th>Trade Price</th>
                        <th>Salt</th>
                        <th>Salt Amount</th>
                        <th>Retail Price</th>
                        <th>Available</th>
                        <th>Choose</th>
                    </tr>
                </thead>


            </table>
        </div>
    </div>
</div>


@section MyScripts{
    <script type="text/javascript" src="~/Scripts/Confirmation.js"></script>
    <script type="text/javascript" src="~/Scripts/SuccessErrorFunctions.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/StockPanelScripts/GetMedicineStock.js"></script>
    <script type="text/javascript" src="~/Scripts/StockPanelScripts/DeleteFromStock.js"></script>
    <script type="text/javascript" src="~/Scripts/StockPanelScripts/UpdateModalInit.js"></script>

    <script type="text/javascript" src="~/Scripts/StockPanelScripts/InitDataTable.js"></script>
    <script type="text/javascript" src="~/Scripts/StockPanelScripts/SendDataToServer.js"></script>



    <script>
        var pharmacy = '@pharmacy.PharmacyName';
        var urlForDataGet = '@Url.Content("~/StockRead/GetStock")';
        $(document).ready(function () {
            

            //get data from server
            InitStockFromServer();
            $("#updateBtn").click(SendDataToUpdate);
            $(".closeModalBtn").click(ResetModal);
        });
    </script>    
}