﻿
@{
    ViewBag.Title = "Email Verified";
}


<div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>Your Email has Been verified. You will be shortly redirected to Login Page</h3>

    </div>
</div>



<div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p><img class="img-responsive img-thumbnail" src="~/Content/Images/logo.png" /></p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p>Click <a href='@Url.Content("~/MedicineSearch/Index")'>here</a> if not redirected.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="progress">
            <div class="progress-bar" id="progress"></div>
        </div>
    </div>
</div>

@section MyScripts{
    <script type="text/javascript">
        @*Just for gui effects. Display progress bar and then redirect to Login Page*@
        function countdown(callback) {
            var bar = document.getElementById('progress');
            var time = 0;
            var max = 10;
            var int = setInterval(function () {
                bar.style.width = Math.floor(100 * time++ / max) + '%';
                if (time - 1 == max) {
                    clearInterval(int);
                    // 600ms - width animation time
                    callback && setTimeout(callback, 500);
                }
            }, 1000);
        }

        countdown(function () {
            window.location.href='@Url.Content("~/Accounts/Login")';
        });

    </script>
}
