﻿
@{
    ViewBag.Title = "Password Recovery";
}

<div class="row">
    <div class="col-sm-4 col-xs-3">

    </div>
    <div class="col-sm-4 col-xs-6 text-center">
        <h2>Email Recovery for: </h2><h4>@ViewData["Login"]</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-xs-3">

    </div>
    <div class="col-sm-4 col-xs-6 text-center">
        <a href="#"><img src="~/Content/Images/logo.png" class="center-block img-responsive"></a>

    </div>
</div>

@{
    if ((bool)ViewData["Success"] == true)
    {
        <div class="row">
            <div class="col-sm-4 col-xs-3">

            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <h3 class="text-success">Email sent for password Recovery. Please check your email. </h3>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            
            <div class="col-sm-4 col-xs-6 text-center">
                <h3 class="text-danger">Password Recovery Fail.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <dl>
                    <dt>Reason1</dt>
                    <dd>You are typing your email/login wrong.</dd>
                    <dt>Reason2</dt>
                    <dd>You have not verified your account. <a href="#" id="verifyLnk" class="btn-link">Click here to Resend Verification Email</a></dd>
                    <dt>Reason3</dt>
                    <dd>You do not have an account.<a href="#" id="registerLnk" class="btn-link">Click here to Register Now for Free!!</a></dd>
                </dl>
            </div>
        </div>
    }
}

@section MyScripts{
    <script type="text/javascript" src="~/Scripts/EmailVerification/EmailVerify.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#registerLnk").click(function () {
                window.location.href = '@Url.Content("~/Accounts/SignUp")';
            });
            $("#verifyLnk").click(function () {
                VerifyEmail('@ViewData["Login"]');
            });
        });
    </script>    
}

