﻿@model Models.MedicineRecord.MedicineImagePair
@using Models.Others;

@{
    ViewBag.Title = "Details Page";
}

@{ 
    var userInfo = Session["user"] as SessionManager;
}

@section MyStyles{
    <link href="~/Content/DataTables/datatables.min.css" type="text/css" rel="stylesheet"/>
    <style>
        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            width: 100%;
        }
    </style>    
}

<div class="container">
    <div class="container-fliud">
        <div class="row">
            <div class="preview col-sm-6 col-md-4 " id="imgContainer">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner" role="listbox" id="imgContainerCarousal">
                        
                    </div>

                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="details col-sm-6 col-md-6">
                <h3 class="">Brand Name: @Model.medicine.BrandName</h3>
                <a href='@Url.Content("~/WebPage/GetManufacturerPage?manufacturer=" + Model.medicine.Manufacturer)'><h3 class="rating">
                    Manufacturer: @Model.medicine.Manufacturer
                </h3></a>
                
                <h4>Salt Name: <span>@Model.medicine.Salt</span></h4>
                <h4>Amount: <span>@Model.medicine.SaltAmount</span></h4>
                <h4>Drug Form: <span>@Model.medicine.DrugForm</span></h4>
                <h4>Price By Manufacturer: <span>@Model.medicine.TradePrice</span></h4>
                <h4>Pack Size: <span>@Model.medicine.PackSize</span></h4>
                
                <h4>Prize Per Unit: <span>@Model.medicine.PricePerUnit</span></h4>
                


            </div>
        </div>
    </div>
    <hr />
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Available At</a></li>
        <li><a data-toggle="tab" href="#comments">Comments</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row">
                <div class="col-xs-12 table-bordered table-responsive">
                    <table id="resultsTable" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>PharmacyId</th>
                                <th>Pharmacy</th>
                                <th>Retail Price</th>
                                <th>Branches</th>
                                <th>Stock</th>
                                <th>Page</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="comments" class="tab-pane fade">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <span><strong>@userInfo.user.FirstName  @userInfo.user.LastName</strong></span>
                                <br>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" id="commentBoxTxt" placeholder="Comment Here"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-order">
                    <div class="panel-heading">
                        <strong>Comments</strong>
                        </div>
                    <div class="panel-body">
                        <div class="row" id="commentContainer">
                            
                            
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-link" id="loadMoreCommentsLnk">Load More Comments</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


@section MyScripts{
    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DetailsPage/InitPharmacyTable.js"></script>
    <script type="text/javascript" src="~/Scripts/MedicineImageLoader.js"></script>
    <script type="text/javascript" src="~/Scripts/DetailsPage/LoadImages.js"></script>
    <script type="text/javascript" src="~/Scripts/DetailsPage/CommentAdder.js"></script>
    <script type="text/javascript" src="~/Scripts/DetailsPage/CommentRetriever.js"></script>
    
    <script type="text/javascript">
        var imgPath = '@Url.Content("~/Content/MedicineImages/")';
        var medid=@Model.medicine.MedicineId;
        $(document).ready(function () {


            GetPharmacies(medid);
            LoadImages(medid);
            GetComments();

            $("#loadMoreCommentsLnk").click(GetComments);

            $("#commentBoxTxt").keyup(function (event) {
                if (event.keyCode == 13) {
                    AddComment();
                }
            });
        });
    </script>
    
}